.Services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-content: center;
}

.service-image {
    width: 100%; 
    height: auto;
    grid-column: 5 / span 4;
    border-radius: 30px; 
}

.services-title{
    padding-top: 30px;
    padding-bottom: 20px;
    grid-column: span 12;
    text-align: center;
}

.services-text {
    grid-column: 2/ span 10;
    text-align: left;
}

.dropdown{
    grid-column: 2 / span 2;
}