.about-container{
    padding-top: 50px;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 10% auto auto auto auto;
    grid-column: 2 / span 10;
    width: 100%;
}

.about-title {
    grid-column: span 16;
    text-align: center;
}

.card {
    max-width: 100%;
    z-index: 2;
    grid-row: 3 / span 2;
    grid-column: 9 / span 6;
}

.man{
    z-index: 1;
    width: 100%; 
    height: auto;
    grid-column: 2 / span 8;
    grid-row: 2 / span 2;
}

.group{
    z-index: 1;
    width: 100%; 
    height: auto;
    grid-column: 2 / span 8;
    grid-row: 4 / span 2;
}

@media (max-width: 849px) {
    .about-container{
        padding-top: 50px;
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 10% repeat(8, auto);
        grid-column: 2 / span 10;
        width: 100%;
    }

    .card {
        max-width: 100%;
        z-index: 2;
        grid-row: 3 / span 4;
        grid-column: 9 / span 6;
    }

    .man{
        z-index: 1;
        width: 100%; 
        height: auto;
        grid-column: 2 / span 8;
        grid-row: 2 / span 3;
    }

    .group{
        z-index: 1;
        width: 100%; 
        height: auto;
        grid-column: 2 / span 8;
        grid-row: 5 / span 3;
    }
  }

  @media (max-width: 716px) {
    .about-container{
        padding-top: 50px;
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 10% repeat(10, auto);
        grid-column: 2 / span 10;
        width: 100%;
    }

    .card {
        max-width: 100%;
        z-index: 2;
        grid-row: 3 / span 6;
        grid-column: 9 / span 8;
    }

    .man{
        z-index: 1;
        width: 100%; 
        height: auto;
        grid-column: 2 / span 8;
        grid-row: 2 / span 4;
    }

    .group{
        z-index: 1;
        width: 100%; 
        height: auto;
        grid-column: 2 / span 8;
        grid-row: 6 / span 4;
    }
  }

