.hero-container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column: 2 / span 10;
    max-width: 100%;
  }

.hero-title {
    font-size: 30px;
    grid-row: 1;
    grid-column: span 3;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-text {
    font-size: 15px;
    grid-row: 2;
    grid-column: span 3;
    text-align: center;
    padding-bottom: 30px;
}

img {
    width: 150px;
}

.star1{
    text-align: center;
    padding-bottom: 100px;
}
.star2{
    text-align: center;

}
.star3{
    text-align: center;
}

@media (max-width: 520px) {
    .hero-container {
        grid-template-rows: repeat(5, auto);
      }

      .hero-title {
        padding-bottom: 20px;
    }
    .hero-text {
        padding-bottom: 20px;
    }
    

      img{
        width: 200px
      }

    .star1{
        grid-row: 3;
        grid-column: span 3;
        text-align: center;
        padding-bottom: 0px;
    }
    .star2{
        grid-row: 4;
        grid-column: span 3;
        text-align: center;
    }
    .star3{
        grid-row: 5;
        grid-column: span 3;
        text-align: center;
        padding-bottom: 20px;
    }
  }

