.hero-container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1fr;
    grid-column: 1 / span 12;
    max-width: 100vw;
  }

  .slider-container{
    grid-column: span 3;
    position: relative; /* New */
    overflow: hidden; /* New */
    min-height: 50vh;  }

  .text-span-2 {
    text-align: center;
    grid-column: 2 / span 2;
  }
  
  .slider {
    position: absolute; /* New */
    width: 100%; 
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
