.hero-container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 2 / span 10;
    max-width: 100vw;
  }

  .text-span-2 {
    text-align: center;
    grid-column: 2 / 4;
  }
  