.Nav{
    max-width: 100%;
    display: grid;
    grid-column: 2 / span 10;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; /* Add this to ensure absolute children are positioned relative to this */
}

.Nav .brand-logo {
    display: flex;
    justify-content: flex-start;
}

.Nav .nav-buttons{
    font-size: smaller;
    display: flex;
    grid-column: 4 / 6; 
    align-items: center;
    justify-content: center;
}

.Nav .nav-buttons a {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}

.hamburger {
    display: none;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s ease;
}

.link {
    background-color: rgba(144, 238, 144, 0.7); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.25); /* Optional: adds a light border */

}

@media (max-width: 500px) {
    .Nav {
        max-width: 100%;
        display: grid;
        grid-template-columns: 25% auto 10%;
        /* grid-column: 2 / span 10; */
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .Nav .nav-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        /* grid-column: 2; */
    }

    .Nav .nav-buttons.expanded {
        display: grid;
        position: absolute; /* Absolute position will take it out of the grid layout */
        grid-column: 2;
        grid-row: 1;
        /* top: 100%; */
        left: 0;
        right: 25%;
        flex-direction: column;
        align-items: baseline;
        justify-content: end;
        padding-top: 50px;
    }
    

    .hamburger {
        display: block;
        grid-column: 3;
    }
}
