.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Nav .nav-buttons{
    display: flex;
    justify-content: flex-end;
}

.Nav .nav-buttons a {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}