.testimonials-container{
    padding-top: 50px;
    display: grid;
    gap: .5rem;
    grid-template-rows: 10% repeat(2, auto);
    grid-column: 2 / span 10;
    width: 100%;
}

.testimonials-title {
    text-align: center;
}

/* .testimonials-card1 {

}

.testimonials-card2 {

}
.testimonials-card3 {

} */